
.headingstyle{
    background: green;
    color: whitesmoke;
    padding: 10px;
    font-size: 28px;
    border-radius: 10px;
    text-align-last: center;    
}

.textstyle{
    border: 1.5px solid green;
    border-radius: 5px;
    padding: 20px;
    text-align-last: center;
    margin: 2px;
}